html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#search-bar {
  position: absolute;
  top: 20px;
  left: 5%;
  height: 35px;
  z-index: 2;
}

#search-bar input,
#search-bar div {
  background-color: #fff;
  padding: 5px 15px 5px 15px;
  font-family: Roboto;
  font-size: 15px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-overflow: ellipsis;
}

#search-bar div {
  background-color: #ccffcc;
  padding: 0;
}

#search-bar img {
  height: 31px;
}

#search-bar:focus input {
  border-color: #6699FF;
  box-shadow: none;
}

#search-results {
  position: absolute;
  top: 55px;
  left: 5%;
  z-index: 2;
  background-color: #fff;
  padding: 0px;
  font-family: Roboto;
  font-size: 15px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#buttons {
  position: absolute;
  top: 90%;
}

#buttons img {
  padding: 0 5px 0 5px;
  cursor: pointer;
}

#errorModal .modal-body {
  color: black;
}

#errorModal .modal-content {
  color: red;
}

#search-results-details {
  position: absolute;
  right: 25px;
  top: 25px;
  bottom: 25px;
  padding: 35px 15px 25px 15px;
  background-color: white;
  border: 1px solid #337ab7;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#search-results-details:after {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Details';
}

#search-results-details .panels-container {
  height: 100%;
  overflow-y: auto;
}

#search-results-details .panel {
  margin-bottom: 5px;
}

#search-results-details .panel-heading h4 {
  margin: 0;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
}

#search-results-details .panel-heading .icon {
  padding: 0 2px 0 0;
}

#search-results-details .panel-heading span {
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 640px) {
  #search-results-details {
    width: 65%;
    height: 37%;
    top: 60%;
    left: 32%;
    font-size: 10px;
    padding: 30px 10px 10px 10px;
  }

  #search-results-details:after {
    font-size: 10px;
  }

  #search-results-details .panel-heading {
    padding: 5px;
  }

  #search-results-details .panel-heading .icon {
    padding: 0 2px 0 0;
  }

  #search-results-details h4,
  #search-results-details span {
    padding: 0;
  }
}

@media (min-width: 640px) {
  #search-results-details {
    width: 25%;
    height: 90%;
    top: 5%;
    left: 73%;
  }
}

#formTypes span {
  text-transform: capitalize;
}

#settingsModal .form-horizontal .control-label {
  text-align: left;
}

button.show-reviews {
  margin-top: 10px;
}

div.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #999;
  text-decoration: none;
}

.pac-item:first {
  border-top: none;
}

.pac-item a {
  text-decoration: none;
}

.pac-icon-marker {
  background-position: -1px -161px;
}

.pac-icon-search {
  background-position: -1px -1px;
}

.pac-icon {
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(http://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000;
}
